.copy {
	visibility: hidden;
  opacity: 0;
	color: #fff;
	position: absolute;
	top: 3px;
	right: 3px;
	transition: visibility 0s, opacity 0.5s linear;
	width: 60px;
	height: 40px;

}

.container:hover > .copy {
	visibility: visible;
  opacity: 1;
}
.container {
	position: relative;
	width: 100%;
	font-size: 0.8rem
}

