.closed {
	width: 0%;
	overflow: hidden;
	float: right;
	animation-name: close;
	animation-duration: 10s;
}

.isShow {
	width: 100%;
	animation-name: open;
	animation-duration: 10s;
	max-width: 150px;
}

@keyframes open {
	0% {
		width: 0;
	}
	100% {
		width: 150px;
	}
}

@keyframes close {
	0% {
		width: 150px;
	}
	100% {
		width: 0%;
	}
}
