.container {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.subContainer{
	display: flex;
}

.containerInput{
	width: 100%;
	display: flex;
}

.input {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid black;
	transition: 200ms border;
}

.input:disabled {
	cursor: not-allowed;
}

.input:focus {
	outline: 0.25rem;
	border: 2px solid;
}
.input:invalid {
	border: 2px solid red;
}

.startAttch {
	background-color: gray;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px 0px 0px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hasStartAtt {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
}

.endAttch {
	background-color: gray;
	padding: 5px;
	border: 1px solid black;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hasEndAtt {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.zeroPadding {
	padding: 0;
}
