.container {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.containerRow {
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.subContainer {
	display: flex;
	flex: 1;
}

.containerInput {
	position: relative;
	width: 100%;
	display: flex;
}

.input {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid black;
	position: relative;
}

.input:disabled {
	cursor: not-allowed;
}

.input:focus {
	outline: 0.25rem;
	border: 2px solid;
}

.input:invalid {
	border: 2px solid red;
}

.startAttch {
	background-color: gray;
	padding: 0 10px;
	border: 1px solid black;
	border-radius: 5px 0px 0px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.hasStartAtt {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
}

.endAttch {
	background-color: gray;
	padding: 0 10px;
	border: 1px solid black;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.hasEndAtt {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.hasStartContent {
	padding-left: 50px;
}

.hasEndContent {
	padding-right: 50px;
}

.zeroPadding {
	padding: 0;
}

.startContent {
	display: flex;
	align-items: center;
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 2;
	max-width: 40px;
}

.endContent {
	display: flex;
	align-items: center;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 2;
	max-width: 40px;
}
