@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);

.btn {
	border: 0;
	font-weight: 700;
	padding-top: 0.5rem /* 8px */;
	padding-bottom: 0.5rem /* 8px */;
	padding-left: 1rem /* 16px */;
	padding-right: 1rem /* 16px */;
	font-size: 1.125rem /* 18px */;
	line-height: 1.75rem /* 28px */;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn:hover {
	background-color: rgba(144, 202, 249, 0.08);
}

.btn:focus {
	outline: 0;
	background-color: rgba(144, 202, 249, 0.08);
}
