:root {
	--tw-bg-opacity: 0.25;
	--tw-bg-opacity: 1;
	--tw-translate-x: 100%;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
}

.container {
	overflow: hidden;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	position: fixed;
	z-index: 10;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.containerOpen {
	transition-property: opacity;
	transition-duration: 150ms;
	opacity: 1;
	transition-duration: 500ms;
	--tw-translate-x: 0px;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.containerClose {
	transition-property: all;
	transition-duration: 150ms;
	transition-delay: 500ms;
	opacity: 0;
	--tw-translate-x: 100%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.subContainer {
	background-color: aqua;
	width: 100vw;
	position: absolute;
	height: 100%;
	--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
		0 8px 10px -6px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	transition-delay: 0ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 600ms;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.subContainerOpen {
	--tw-translate-x: 0px;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rightZero {
	right: 0px;
}

.leftZero {
	left: 0px;
}

.translateRight {
	transform: translate(300%, 0);
}

.translateLeft {
	transform: translate(-300%, 0);
}

.translateBottom {
	transform: translate(0%, 100%);
}

.translateTop {
	transform: translate(0%, -100%);
}

.backdropOpen {
	width: 100%;
	opacity: 0.5;
	height: 100%;
	position: fixed;
}
