.blocks {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	font-size: 2rem;
}

.dark {
	color: white;
	border: 1px solid white;
}

.light {
	color: black;
	border: 1px solid black;
}

.options {
	margin-top: 130px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.socialButtons{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: white;
}

.socialButtonsLight{
	color: black;
}

.socialButtonsDark{
	color: white;
}
