.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

@media (max-width: 380px) {
	.container {
		margin: 0;
	}
}
