.tbody .tr {
	height: 40px;
}

.td {
	padding: 6px;
}

.tr .td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.isExpanded {
	border-color: #e5e7eb;
	border-width: 2px;
	border-bottom-width: 0px;
}

.isExpandedChild {
	border-color: #e5e7eb;
	border-width: 2px;
	border-top-width: 0px;
}

.even {
	background-color: #f2f2f2;
	color: #000;
}

.resizer {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 5px;
	background: rgba(0, 0, 0, 0.5);
	cursor: col-resize;
	user-select: none;
	touch-action: none;
}

*:hover > .resizer {
	opacity: 1;
}
