.customContainer {
	/* height: 100%; */
	max-height: 80vh;
	max-width: 100%;
	overflow: auto;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: arial, sans-serif;
	table-layout: fixed;
	width: 100%;
}
