.copy {
	visibility: hidden;
	opacity: 0;
	color: #fff;
	position: absolute;
	top: 0.4375rem;
	right: 0.0625rem;
	transition: visibility 0s, opacity 0.5s linear;
}

.container:hover > .copy {
	visibility: visible;
	opacity: 1;
}
.container {
	position: relative;
	width: 100%;
	font-size: 0.8rem;
}
