# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish to NPM

on:
   push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
         node-version: 16
         registry-url: https://registry.npmjs.org/
      - name: CI
        run: npm ci
      - name: Install
        run: npm install
      - name: Test
        run: npm test
      - name: Build
        run: npm run build
      - name: Copy Files Requireds
        run: npm run copyRequiredsLinux
      - name: List files in build directory
        run: ls ./build
      - name: Publish to NPM
        run: npm publish ./build
        env:
         NODE_AUTH_TOKEN: ${{secrets.TOKEN_FOR_GITHUB_PUBLISH_TO_NPM}}
